# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.project
.idea/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Python component of the build
build/

# Dart/Flutter related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/generated/
**/android/app/google-services.json
**/android/key.properties

# iOS/Mac related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/DerivedData
**/ios/**/Icon?
**/ios/**/ProjectSettings.plist
**/ios/**/Runner.xcworkspace/xcuserdata
**/ios/**/breakpoints.xcuserdatad
**/ios/**/gcc_error.hist
**/ios/**/main.js
**/ios/**/pbxproj.old
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GoogleService-Info.plist

# Web related
lib/generated_plugin_registrant.dart

# Symbols and heroku-related
*.symbols
.env*
